# Bloquea el acceso directo a archivos sensibles desde el navegador
<Files "config.php">
    Order allow,deny
    Deny from all
</Files>
<Files "token_cache.json">
    Order allow,deny
    Deny from all
</Files>
